@use 'base';

hr {
    border: none;
    border-top: 1px solid black;
    margin: auto;
    width: 40vh;
}

.navbar {
    background: base.$color-background-1;
}

main {
    padding: 1rem;
    padding-bottom: 51vh;
    text-align: center;
    background: base.$color-background-1;

    h5 {
        margin: 0.5rem 0;
    }
    p.text {
        font-size: 1.2rem;
        max-width: 50vw;
        margin: 0.8rem auto;
        margin-bottom: 2rem;
    }

    img {
        margin: 0 0.4rem;
    }
}
