@use 'base';


$project-background: rgb(244, 244, 244);

.project-container {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
    text-align: center;
    padding-bottom: 47vh;

    .project {
        background: 000;
        border-radius: 8px;
        padding: 1rem;
        transition: 0.5s;

        a {
            color: base.$color-text;

            img {
                width: 15rem;
                height: 15rem;
                border: 2px solid base.$color-nav-border;
                border-radius: 6px;
            }
        }
        p {
            margin-top: 0.5rem;
            transition: 0.5s;
        }
    }
    .project:hover {
        background: $project-background;
    }
}