@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");


:root {
    --background-color: #472D2D;
    --navbar-color: #784A3F;
    --text-color: #E8F1F2;
    --about-me-background-color: #A66C4B;
    --about-me-text-color: #000000;
    --projects-background-color: #784A3F;
    --projects-text-color: #E8F1F2;
    --footer-background-color: #472D2D;
    --footer-text-color: #c7c7c7;
}

body {
    background: var(--background-color);
    margin: 0;
    font-family: "Poppins";
}
body::-webkit-scrollbar {
    display: none;
}

section.navbar {
    background-color: var(--navbar-color);
    padding: 1em;
    
    .logo {
        margin: 0.2em;
        color: var(--text-color);
        text-decoration: none;
        font-size: 2.5em;
        font-weight: bold;
    }
}

section.hero {
    margin: 20em 0%;
    display: flex;
    justify-content: center;

    .hero-text {
        text-align: center;
        color: var(--text-color);
        font-size: 2.5em;
    }
}

.section-header {
    text-align: center;
    font-size: 2em;
    border-radius: 1em;
    margin: auto;
    margin-bottom: -2em;
    padding-bottom: 1.5em;
    width: 8em;
}

section.about-me {
    .about-me-header {
        background: var(--about-me-background-color);
    }

    .about-me-text {
        text-align: center;
        background-color: var(--about-me-background-color);
        margin: 0;
        padding: 2em;
        padding-bottom: 3.5em;
        font-size: 1.5em;
        margin-bottom: -2em;
    }
}

section.projects {
    color: var(--projects-text-color);

    .projects-header {
        background: var(--projects-background-color);
    }
    .projects-text {
        text-align: center;
        background-color: var(--projects-background-color);
        margin: 0;
        padding: 2em;
        font-size: 1.5em;
    }
    ul.project-list {
        margin: 0;
        padding: 0;
        background: var(--projects-background-color);
        list-style-type: none;

        .project {
            text-align: center;
            padding-bottom: 1em;
            width: 100%;

            img.project-image {
                border-radius: 1em;
                display: inline;
                margin-left: auto;
                margin-right: auto;                
            }
            .project-title {
                font-size: 1.5em;
                text-align: center;
                padding: 0.3em 0;
            }
            .github {
                display: inline;
            }
        }
    }
}

section.footer {
    background: var(--footer-background-color);
    text-align: center;
    color: var(--footer-text-color);

    .footer-copyright {
        margin: 0;
        padding: 1em;
    }
}

@media (min-width: 768px) {
    ul.project-list {
        display: flex;
    }
}
