body {
	background-color: black;
}

.header {
	font-size: 500%;
	color: rgb(120, 120, 120);
	text-align: center;
}
.b0 {
	color: rgb(100, 180, 240);
}
.b1 {
	color: rgb(100, 240, 180);
}

p {
	color: rgb(240, 240, 240);
}

.reviews {
	margin-bottom: 175px;
}
li {
	float: left;
}
li p {
	display: inline;
	color: white;
	text-align: center;
	padding: 0px 20px;
	text-decoration: none;
	margin: 10px;
}

h2 {
	color: rgb(120, 120, 120);
	margin: 0;
	margin-left: 10px;
}

hr {
	border: 1px solid rgb(50, 50, 50);
	margin: 20px;
}
.my-games {
	font-size: 300%;
	color: rgb(120, 120, 120);
	text-align: center;
	margin: 0;
}

.social-links {
	margin: 0 50px;
}

.games {
	color: rgb(120, 120, 120);
	margin: 0;
	list-style-type: none;
}

a {
	color: rgb(20, 20, 255);
	font-size: 140%;
	text-decoration: none;
}
.links {
	margin: 10px;
}